<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<link rel='stylesheet' href='/css/add_goods.css' />
</head>
<body>
	<h2>
		ECSHOP管理中心-添加新商品
		<span><a href="#"><img src="./images/teach.png"/></a></span>
		<input type="button" value="+ 商品列表" class="addnew">
	</h2>
	<div class="choice">
		<ul>
			<li>通用信息</li>
			<li>详细描述</li>
			<li>其他信息</li>
			<li>商品属性</li>
			<li>商品相册</li>
			<li>关联商品</li>
			<li>配件</li>
			<li>关联文章</li>
		</ul>
		<ol>
			<li>
				<table align="center">
					<tr>
						<td>商品名称：</td>
						<td>
							<input type="text"id="goods_name"/>
							<input type="color" id="font_color"/>
						</td>
					</tr>
					<tr>
						<td>商品货号：</td>
						<td>
							<input type="text" id="goods_num"/>
						</td>
					</tr>
					<tr>
						<td>商品编号：</td>
						<td><input type="text"/ id="id"></td>
					</tr>
					<tr>
						<td>扩展分类：</td>
						<td><input type="button" value="添加"></td>
					</tr>
					<tr>
						<td>商品品牌：</td>
						<td>
							<select>
								<option>请选择…</option>
								<option>kk</option>
								<option>太平鸟</option>
								<option>韩衣都舍</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>本店售价：</td>
						<td>
							<input type="text" id="price" />
							<input type="button" value="按市场价计算"/>
						</td>
					</tr>
					<tr>
						<td>市场售价：</td>
						<td>
							<input type="text"/> <input type="button" value="取整数"/>
						</td>
					</tr>
					<tr>
						<td>商品库存：</td>
						<td><input type="text"/ id="inventory"></td>
					</tr>
					<tr>
						<td>赠送消费积分数：</td>
						<td><input type="text"/></td>
					</tr>
					<tr>
						<td><label><input type="checkbox"/>促销价：</label></td>
						<td><input type="text"/></td>
					</tr>
					<tr>
						<td>上传商品图片：</td>
						<td>
							<input type="file" id="img" /><br/><br/>
							<input type="text" value="商品图片外部URL" onfocus="if(value=='商品图片外部URL'){value=''}" onblur="if(value==''){value='或者输入外部图片链接地址'}"/>
						</td>
					</tr>
				</table>
				<input type="submit" id="sub" value="确定" onclick="upload()"/>
				<input type="reset" id="ret" value="重置"/>
			</li>
			<li>2</li>
			<li>3</li>
			<li>
				<table align="center">
					<tr>
						<td>商品类型：</td>
						<td>
							<select>
								<option>书</option>
								<option>音乐</option>
								<option>彩妆</option>
								<option>服装</option>
								<option>笔记本</option>
							</select><br/>
							<span>请选择商品的所属类型，进而完善此商品的属性</span>
						</td>
					</tr>
				</table>
				<p>
					<input type="submit" class="sub" value="确定"/>
					<input type="reset" class="ret" value="重置"/>
				</p>
			</li>
			<li>
				<div>
					<span>[+]图片描述</span>
					<input class="txt1" type="text"/> 
					<input class="btn1" type="file" value="选择文件"/>
					<input class="txt2" type="text"  value="或者输入外部图片链接地址" onfocus="if(value=='或者输入外部图片链接地址'){value=''}" onblur="if(value==''){value='或者输入外部图片链接地址'}" />
				</div>	
				<p>
					<input type="submit" class="sub" value="确定"/>
					<input type="reset" class="ret" value="重置"/>
				</p>
			</li>
			<li>6</li>
			<li>7</li>
			<li>8</li>
		</ol>
	</div>
</body>
<script type="text/javascript" src="/js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="/js/add_goods.js"></script>
</html>

