<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<link rel='stylesheet' href='/css/dashboard.css' />
</head>
<body>
	<!-- *****header***** -->
	<div id="header">
		<img class="sublogo" src="/images/topLogo.png"/>
		<ul>
			<li><a href="#"><img src="/images/topmune_08.png"/><span>退出</span></a></li>
			<li><a href="#"><img src="/images/qingchu.png"/><span>清除缓存</span></a></li>
			<li><a href="#"><img src="/images/topmune_07.png"/><span>关于ECSHOP</span></a></li>
			<li><a href="#"><img src="/images/topmune_007.png"/><span>帮助</span></a></li>
			<li><a href="#"><img src="/images/topmune_06.png"/><span>查看网店</span></a></li>
			<li><a href="#"><img src="/images/topmune_05.png"/><span>管理员留言</span></a></li>
			<li><a href="#"><img src="/images/topmune_04.png"/><span>个人设置</span></a></li>
			<li><a href="#"><img src="/images/topmune_03.png"/><span>刷新</span></a></li>
			<li><a href="#"><img src="/images/topmune_02.png"/><span>记事本</span></a></li>
			<li><a href="#"><img src="/images/topmune_01.png"/><span>开店向导</span></a></li>
			<li class="active"><a href="#"><img src="/images/topmune_09.png"/><span class="yellow">更多模板堂产品</span></a></li>
		</ul>
	</div>

	<!-- *****nav***** -->
	<div id="nav">
		<ul>
			<li>
				<a href="#">
					<img src="/images/index-11_07.png">
					<span class="des">起始页</span>
				</a>
				<span class="line"></span>
			</li>
			<li>
				<a href="#">
					<img src="/images/index-11_41.png">
					<span class="des">设置导航栏</span>
				</a>
				<span class="line"></span>
			</li>
			<li>
				<a href="#">
					<img src="/images/index-11_09.png">
					<span class="des">商品管理</span>
					<span class="num">0</span>
				</a>
				<span class="line"></span>
			</li>
			<li>
				<a href="#">
					<img src="/images/dd.png">
					<span class="des">订单管理</span>
					<span class="num">0</span>
				</a>
				<span class="line"></span>
			</li>
			<li>
				<a href="#">
					<img src="/images/index-11_13.png">
					<span class="des">广告管理</span>
					<span class="num">0</span>
				</a>
				<span class="line"></span>
			</li>
			<li>
				<a href="#">
					<img src="/images/index-11_19.png">
					<span class="des">用户评论</span>
					<span class="num">0</span>
				</a>
				<span class="line"></span>
			</li>
		</ul>
		<ol>
			<li><a href="./goods_list" target="">商品列表</a></li>
			<li><a href="#">订单列表</a></li>
			<li><a href="#">用户评论</a></li>
			<li><a href="#">会员列表</a></li>
			<li><a href="#">商店设置</a></li>
			<li><a href="#">移动版</a></li>
		</ol>
	</div>

	<!-- *****bottom***** -->
	<div id="bottom">
		<div class="aside">
			<div class="tabbar">
				<p>导航菜单</p>
			</div>
			<div class="tabmain">
				<ul>
					<li>
						<img src="/images/index-11_09.png"/>
						商品管理
						<span>+</span>
						<ol>
							<li><a class="list" href="./goods_list" target="content">商品列表</a></li>
							<li><a class="add" href="./add_goods" target="content">添加新商品</a></li>
							<li><a href="#">商品分类</a></li>
							<li><a href="#">用户评论</a></li>
						</ol>
					</li>
					<li>
						<img src="/images/index-11_07.png"/>
						促销管理
						<span>+</span>
						<ol>
							<li><a href="#">夺宝奇兵</a></li>
							<li><a href="#">红包类型</a></li>
							<li><a href="#">商品包装</a></li>
							<li><a href="#">祝福贺卡</a></li>
						</ol>
					</li>
					<li>
						<img src="/images/dd.png"/>
						订单管理
						<span>+</span>
						<ol>
							<li><a href="#">订单列表</a></li>
							<li><a href="#">订单查询</a></li>
							<li><a href="#">合并订单</a></li>
							<li><a href="#">订单打印</a></li>
						</ol>
					</li>
					<li>
						<img src="/images/index-11_13.png"/>
						广告管理
						<span>+</span>
						<ol>
							<li><a href="#">广告列表</a></li>
							<li><a href="#">广告位置</a></li>
						</ol>
					</li>
					<li>
						<img src="/images/dd.png"/>
						订单管理
						<span>+</span>
						<ol>
							<li><a href="#">订单列表</a></li>
							<li><a href="#">订单查询</a></li>
							<li><a href="#">合并订单</a></li>
							<li><a href="#">订单打印</a></li>
						</ol>
					</li>
					<li>
						<img src="/images/index-11_13.png"/>
						广告管理
						<span>+</span>
						<ol>
							<li><a href="#">广告列表</a></li>
							<li><a href="#">广告位置</a></li>
						</ol>
					</li>
					<li>
						<img src="/images/dd.png"/>
						订单管理
						<span>+</span>
						<ol>
							<li><a href="#">订单列表</a></li>
							<li><a href="#">订单查询</a></li>
							<li><a href="#">合并订单</a></li>
							<li><a href="#">订单打印</a></li>
						</ol>
					</li>
					<li>
						<img src="/images/index-11_13.png"/>
						广告管理
						<span>+</span>
						<ol>
							<li><a href="#">广告列表</a></li>
							<li><a href="#">广告位置</a></li>
						</ol>
					</li>
					<li>
						<img src="/images/dd.png"/>
						订单管理
						<span>+</span>
						<ol>
							<li><a href="#">订单列表</a></li>
							<li><a href="#">订单查询</a></li>
							<li><a href="#">合并订单</a></li>
							<li><a href="#">订单打印</a></li>
						</ol>
					</li>
					<li>
						<img src="/images/index-11_13.png"/>
						广告管理
						<span>+</span>
						<ol>
							<li><a href="#">广告列表</a></li>
							<li><a href="#">广告位置</a></li>
						</ol>
					</li>
					<li>
						<img src="/images/dd.png"/>
						订单管理
						<span>+</span>
						<ol>
							<li><a href="#">订单列表</a></li>
							<li><a href="#">订单查询</a></li>
							<li><a href="#">合并订单</a></li>
							<li><a href="#">订单打印</a></li>
						</ol>
					</li>
					<li>
						<img src="/images/index-11_13.png"/>
						广告管理
						<span>+</span>
						<ol>
							<li><a href="#">广告列表</a></li>
							<li><a href="#">广告位置</a></li>
						</ol>
					</li><li>
						<img src="/images/dd.png"/>
						订单管理
						<span>+</span>
						<ol>
							<li><a href="#">订单列表</a></li>
							<li><a href="#">订单查询</a></li>
							<li><a href="#">合并订单</a></li>
							<li><a href="#">订单打印</a></li>
						</ol>
					</li>
					<li>
						<img src="/images/index-11_13.png"/>
						广告管理
						<span>+</span>
						<ol>
							<li><a href="#">广告列表</a></li>
							<li><a href="#">广告位置</a></li>
						</ol>
					</li>

				</ul>
			</div>
		</div>
		<div class="drag"></div>
		<div class="main">
			<!-- <h2>ECSHOP管理中心</h2>
			<h3><span>no_license</span><a href="#">点击查看</a></h3>
			<div class="sales">
				<div class="total">
					<h4>今日销售总额</h4>
					<p>0.00元</p>
				</div>
				<div class="order">
					<h4>今日订单总数</h4>
					<p>0</p>
				</div>
				<div class="member">
					<h4>今日注册会员</h4>
					<p>0</p>
				</div>
				<div class="visit">
					<h4>今日网站访问</h4>
					<p>0</p>
				</div>
			</div>

			<div class="status">
				<div class="noconfirm">
					<div class="left">
						<img src="/images/weiqueren.png"/>
					</div>
					<div class="right">
						<h4>未确认订单</h4>
						<p>0</p>
					</div>
				</div>
				<div class="noconfirm">
					<div class="left">
						<img src="/images/daizhifu.png"/>
					</div>
					<div class="right">
						<h4>待支付订单</h4>
						<p>0</p>
					</div>
				</div>
				<div class="noconfirm">
					<div class="left">
						<img src="/images/daifahuo.png"/>
					</div>
					<div class="right">
						<h4>待发货订单</h4>
						<p>0</p>
					</div>
				</div>
				<div class="noconfirm">
					<div class="left">
						<img src="/images/yichengjiao.png"/>
					</div>
					<div class="right">
						<h4>已成交订单数</h4>
						<p>0</p>
					</div>
				</div>
				<div class="noconfirm">
					<div class="left">
						<img src="/images/dengji.png"/>
					</div>
					<div class="right">
						<h4>新缺货登记</h4>
						<p>0</p>
					</div>
				</div>
				<div class="noconfirm">
					<div class="left">
						<img src="/images/daifahuo.png"/>
					</div>
					<div class="right">
						<h4>部分发货订单</h4>
						<p>0</p>
					</div>
				</div>
				<div class="noconfirm">
					<div class="left">
						<img src="/images/feature.png"/>
					</div>
					<div class="right">
						<h4>退款申请</h4>
						<p>0</p>
					</div>
				</div>
			</div> -->

			<iframe src="" id="content" name="content"
				frameborder="0" scrolling="yes">				
			</iframe>
		</div>
		

		
	</div>
</body>
<script type="text/javascript" src="/js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="/js/dashboard.js"></script>
</html>